.data-table {
    width: 100%;
    border-collapse: collapse;
}

.data-table th, .data-table td {
    border: 1px solid #dddddd;
    padding: 8px;
}

.data-table th {
    background-color: #f2f2f2;
    text-align: left;
}
.img2{
width: 50px;
height: 50px;
}